<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ENTREGABLE | Template</title>
</head>
<body>
    Este es el template, tienes las siguientes opciones:
    <br>
    1: Guardar Familiares --> http://127.0.0.1:8000/guardar_familiares/
    <br>
    2: Mostrar Familiares guardados --> http://127.0.0.1:8000/mostrar_familiares/
</body>
</html>